# MongoDB Connection String
MONGODB_URL = your_mongodb_uri_here

# urls
CLIENT_URL=http://localhost:3000

#token keys
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_SECRET_KEY=you_secret_here

ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=7d

# Email

SENDGRID_API_KEY=your_sendgrid_api_key_here
EMAIL_FROM=your_sendgrid_from_email_here

# ai keys
GROQ_API_KEY=your_groq_key_here

# stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_key_here
STRIPE_SECRET_KEY=your_stripe_secret_here